*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block{
    width: 350px;
    height: 400px;
    background: red;
    border-radius: 20px;
    background: cyan;
}
.block .form button{
    width: 90px;
    height: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    margin-left: 125px;
    margin-top: 20px;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.block .form button:hover{
    animation: animate 5s linear infinite;
}
@keyframes animate{
    0%{background-position: 0;}
    100%{background-position: 400%;}
}
.block .form label{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.block .section input{
    width: 200px;
    height: 25px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    padding: 5px;
}
.block .section input::placeholder{
    font-size: 15px;
    font-weight: 100;
    color: coral;
}
.block .form{
    margin-top: 30px;
}
.block h1{
    margin-bottom: -15px;
}
.block .form label{
    margin-left: 12px;
}